@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: black;
}
img {
    width: 100%;
    display: flex;
    border-radius: 50px;
}
a {
    text-decoration: none;
}
.nav-logo {
    max-width: 100px;
}
nav {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 2rem 1rem;
    gap: 2rem;
}
.nav-links {
    list-style: none;
    text-align: center;
    display: flex;
    gap: 3rem;
}
.btn {
    border-radius: 25px;
    background-color: #007127 ;
    color: #fff;
    font-size: 1rem;
    padding: 1rem 1rem;
    cursor: pointer;
    transition: all .3s ease;
}
.btn:hover {
    background-color: #006724;
    border-color: #fff;
    font-size: .9rem;
}
.link a {
    padding-bottom: 0.75rem;
    color: #fff;
    position: relative;
}
.link a::after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    bottom: 0;
    height: 2px;
    background-color:#006724;
    transition: all .3s ease;
}
.link a:hover::after{
    width: 100%;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}
.blur {
    position: absolute;
    box-shadow: 0px 0px 1000px 50px #006724;
    z-index: -100;
}
header {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-top: 2rem;
    gap: 2rem;
}
header .content h4 {
    color: #fff;
    padding-bottom: .1rem;
    font-size: 1.3rem;
    margin-bottom: .1rem;
}
header .content h1 {
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
}
header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #006724;
}
header .content p {
    color: #fff; 
    margin-bottom: 1rem;
    font-size: 1rem;
}
header .image::before {
    position: relative;
}
header .image::before {
    content: "â‚";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 100rem;
    color: #007127;
    opacity: 0.3;
    z-index: -100;
}
header .image img{
    max-width: 600px;
    margin: auto;
}
section .header {
    color: white;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 2.25rem;
}
.features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 4rem;
    gap: 2rem;
}
.features .card {
    background-color: #27272a;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all .3s ease;
}
.features .card:hover {
    border-color: #006724;
    background-color: #323232;
}
.features .card span {
    display: inline-block;
    background-color: #006724;
    padding: 2px 9px;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 1rem;
    font-size: 1.75rem;
}
.features .card h4 {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: .5rem;
}
.features .card p {
    color: #ccc;
    margin-bottom: 1rem;
}
.features .card a{
    color: #fff;
    transition: all .3s ease;
}
.features .card a:hover {
    color: #006724;
}
.pricing {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.pricing .card {
    padding: 2rem 3rem;
    background-color: #27272a;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all .3s ease;
}
.pricing .card:hover {
    background-color: #323232;
    border-color: #006724;
}
.pricing .card h4 {
    color: #fff;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1.25rem;
}
.pricing .card h3 {
    color: #ccc;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px dashed #fff;
}
.pricing .card .content {
    margin-bottom: 2rem;
    flex: 1;
}
.pricing .card p {
    color: #fff;
    margin-bottom: 0.75rem;
}
section .sub-header {
    color: #ccc;
    text-align: center;
    margin: auto;
    max-width: 600px;
    font-size: 1.1rem;
}
.pricing .card p i{
    color: #ccc;
    margin-right: .3rem;
    font-size: 1.2rem;
}
.pricing .card button {
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #fff;
    color: #fff;
}
.pricing .card button:hover {
    border-color: #006724;
} 
footer {
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}
footer .logo {
    max-width: 100px;
    margin-bottom: 1rem;
}
footer .column p {
    color: #ccc;
    margin-bottom: 1rem;
}
footer .column .socials {
       display: flex;
       align-items: center;
       gap: 1rem;
}
footer .column .socials a{
    color: #ccc;
    font-size: 1.25rem;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 100%;
    transition: all .3s ease;
}
footer .column .socials a:hover {
    color: #fff;
    border-color: #fff;
    background-color: #006724;
}
footer .column h4 {
    color: #fff;
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 1.25rem;
}
footer .column > a {
    display: block;
    color: #ccc;
    margin-bottom: 1rem;
    transition: all .3s ease;
}
footer .column > a:hover {
    color: #006724;
}
.copyright {
    text-align: center;
    color: #ccc;
    font-size: 0.80rem;
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
}

@media (width < 900px) {
    .nav-links {
        display: none;
    }
    header {
        grid-template-columns: repeat(1, 1fr);
    }
    header .image {
        grid-area: 1/1/2/2;
    }
    .features {
        grid-template-columns: repeat(2, 1fr);
    }
    .pricing {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (width < 600px) {
    header .image::before {
       display: none;
    }
    .features {
        grid-template-columns: repeat(1, 1fr);
    }
    .pricing {
        grid-template-columns: repeat(1, 1fr);
    }
    footer {
        grid-template-columns: 1fr 150px;
    }
}